* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*======================================================================
      V A R I A B L E S
======================================================================*/
@font-face {
  font-family: 'barlowitalic';
  src: url("../fonts/barlow-regularitalic-webfont.woff2") format("woff2"), url("../fonts/barlow-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowregular';
  src: url("../fonts/barlow-regular-webfont.woff2") format("woff2"), url("../fonts/barlow-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowlight_italic';
  src: url("../fonts/barlow-lightitalic-webfont.woff2") format("woff2"), url("../fonts/barlow-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowlight';
  src: url("../fonts/barlow-light-webfont.woff2") format("woff2"), url("../fonts/barlow-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'barlowbold';
  src: url("../fonts/barlow-bold-webfont.woff2") format("woff2"), url("../fonts/barlow-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lcd';
  src: url("../fonts/lcdm2n__-webfont.woff2") format("woff2"), url("../fonts/lcdm2n__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'techno';
  src: url("../fonts/videoterminalscreen-webfont.woff2") format("woff2"), url("../fonts/videoterminalscreen-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*======================================================================
      GENERAL STYLES
======================================================================*/
.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eaeaea;
  font-family: 'barlowregular', Arial, sans-serif;
}

/*======================================================================
      CONTROLS STYLES
======================================================================*/
.controls {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
  background-color: #73746E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  border-left: 5px solid #eaeaea;
}

.indicators, .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indicators {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.inputs {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.border {
  border: 4px solid #eaeaea;
  border-radius: 10px;
  margin: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.warn {
  color: #282828;
  background-color: #111;
  font-weight: 700;
  text-align: center;
  margin: 0;
  padding: 4px;
  border: 4px solid white;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.warn-active {
  background-color: #ff6666 !important;
}

.title {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  background-color: #73746E;
  padding: 0 5px;
  text-align: center;
  font-family: 'barlowbold', Arialbold, sans-serif;
}

.buttons-wrapper {
  width: 40%;
}

.buttons-wrapper .alarms-wrapper {
  height: 60%;
}

.buttons-wrapper .ops-wrapper {
  height: 60%;
}

.indicators .indi-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.indicators .alt-wrapper {
  width: 30%;
}

.indicators .alt-wrapper .alt_gauge-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100px;
  height: 250px;
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #333;
  border: 2px solid #111;
}

.indicators .alt-wrapper .alt_gauge-container .alt_indi-frame {
  position: absolute;
  width: 100%;
  height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 50%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
  border: 1px solid red;
}

.indicators .alt-wrapper .alt_gauge-container .alt_indi-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.85)), color-stop(10%, rgba(0, 0, 0, 0.7)), color-stop(30%, transparent), color-stop(70%, transparent), color-stop(90%, rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.85)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.7) 10%, transparent 30%, transparent 70%, rgba(0, 0, 0, 0.7) 90%, rgba(0, 0, 0, 0.85) 100%);
  z-index: 2;
}

.indicators .alt-wrapper .alt_gauge-container .alt-wheel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: 1px solid #333;
  background-color: beige;
  text-align: center;
  overflow: hidden;
}

.indicators .alt-wrapper .alt_gauge-container .alt-wheel:last-of-type {
  border: none;
}

.indicators .alt-wrapper .alt_gauge-container .alt-wheel .alt-num {
  height: 40px;
  position: relative;
}

.indicators .alt-wrapper .alt_gauge-container .alt-wheel .alt-num::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -33px);
          transform: translate(-50%, -33px);
  width: 40%;
  height: 1px;
  background-color: #333;
}

.indicators .velo-wrapper {
  width: 40%;
}

.indicators .velo-wrapper .velocity_gauge-container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 180px;
  height: 254px;
  margin: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock {
  background-color: beige;
  border: 2px solid #111;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  z-index: 1;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(1) {
  -webkit-transform: rotate(-75deg) translate(-50px, 50%);
          transform: rotate(-75deg) translate(-50px, 50%);
  color: red;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(1) strong {
  display: inline-block;
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(2) {
  -webkit-transform: rotate(-45deg) translate(-50px, 50%);
          transform: rotate(-45deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(2) strong {
  display: inline-block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(3) {
  -webkit-transform: rotate(-15deg) translate(-50px, 50%);
          transform: rotate(-15deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(3) strong {
  display: inline-block;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(4) {
  -webkit-transform: rotate(-2.7deg) translate(-50px, 50%);
          transform: rotate(-2.7deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(4) strong {
  display: inline-block;
  -webkit-transform: rotate(2.7deg);
          transform: rotate(2.7deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(5) {
  -webkit-transform: rotate(22.2deg) translate(-50px, 50%);
          transform: rotate(22.2deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(5) strong {
  display: inline-block;
  -webkit-transform: rotate(-22.2deg);
          transform: rotate(-22.2deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(6) {
  -webkit-transform: rotate(49.8deg) translate(-50px, 50%);
          transform: rotate(49.8deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(6) strong {
  display: inline-block;
  -webkit-transform: rotate(-49.8deg);
          transform: rotate(-49.8deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(7) {
  -webkit-transform: rotate(89.1deg) translate(-50px, 50%);
          transform: rotate(89.1deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(7) strong {
  display: inline-block;
  -webkit-transform: rotate(-89.1deg);
          transform: rotate(-89.1deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(8) {
  -webkit-transform: rotate(119.1deg) translate(-50px, 50%);
          transform: rotate(119.1deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(8) strong {
  display: inline-block;
  -webkit-transform: rotate(-119.1deg);
          transform: rotate(-119.1deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(9) {
  -webkit-transform: rotate(167.1deg) translate(-50px, 50%);
          transform: rotate(167.1deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(9) strong {
  display: inline-block;
  -webkit-transform: rotate(-167.1deg);
          transform: rotate(-167.1deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(10) {
  -webkit-transform: rotate(223.2deg) translate(-50px, 50%);
          transform: rotate(223.2deg) translate(-50px, 50%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-num:nth-of-type(10) strong {
  display: inline-block;
  -webkit-transform: rotate(-223.2deg);
          transform: rotate(-223.2deg);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo_hub {
  width: 20px;
  height: 20px;
  background-color: #111;
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%) rotate(-45deg);
          transform: translate(50%, 50%) rotate(-45deg);
  z-index: 2;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo_hub::after {
  content: '';
  display: block;
  width: 100px;
  height: 4px;
  background-color: red;
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(15px, 50%);
          transform: translate(15px, 50%);
  -webkit-box-shadow: 0 0 5px 1px #111;
          box-shadow: 0 0 5px 1px #111;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .greenhub {
  -webkit-transform: translate(50%, 50%) rotate(1.5deg);
          transform: translate(50%, 50%) rotate(1.5deg);
  z-index: 0;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .greenhub::after {
  width: 100px;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
  background-color: rgba(0, 255, 0, 0.98);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .greenhub::before {
  color: green;
  position: absolute;
  width: 100px;
  font-size: 0.5em;
  content: 'TOUCHDOWN LIMIT';
  -webkit-transform: translate(-72px, 0%);
          transform: translate(-72px, 0%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-clock .velo-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
}

.indicators .velo-wrapper .velocity_gauge-container .velo-indi-wrapper {
  width: 180px;
  height: 180px;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-warn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 3px solid #333;
  border-radius: 5px;
  background-color: #555;
  font-size: 0.8em;
  font-family: 'barlowbold', Arialbold, sans-serif;
  width: 100%;
}

.indicators .velo-wrapper .velocity_gauge-container .velo-warn-wrapper .warn {
  width: 100%;
  border: none;
  border-radius: 0;
  margin: 2px;
  padding: 5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  color: #222;
  -webkit-box-shadow: inset 0 0 5px 1px #333;
          box-shadow: inset 0 0 5px 1px #333;
  text-shadow: 0 0 5px #333;
  text-align: center;
}

.indicators .fuel-wrapper {
  width: 30%;
}

.indicators .fuel-wrapper .fuel_gauge-container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100px;
  height: 250px;
  background-color: beige;
  color: #333;
  border: 2px solid #111;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  overflow: hidden;
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-scale {
  padding: 5px;
  text-align: center;
  position: relative;
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-line {
  border-bottom: 2px solid #333;
  width: 30%;
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-lvl {
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 2px;
  background-color: red;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 0 0 5px 0 #333;
          box-shadow: 0 0 5px 0 #333;
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-lvl::after, .indicators .fuel-wrapper .fuel_gauge-container .fuel-lvl::before {
  position: absolute;
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: red;
  top: 50%;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-lvl::after {
  left: 0;
  -webkit-transform: translate(-50%, -50%) scale(3, 0.7) rotate(45deg);
          transform: translate(-50%, -50%) scale(3, 0.7) rotate(45deg);
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-lvl::before {
  right: 0;
  -webkit-transform: translate(50%, -50%) scale(3, 0.7) rotate(45deg);
          transform: translate(50%, -50%) scale(3, 0.7) rotate(45deg);
}

.indicators .fuel-wrapper .fuel_gauge-container .fuel-dimmer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), color-stop(20%, transparent), color-stop(80%, transparent), to(rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), transparent 20%, transparent 80%, rgba(0, 0, 0, 0.4));
}

.inputs .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
}

.inputs .throttle-wrapper {
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.inputs .throttle-wrapper .throttle-border {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 280px;
}

.inputs .throttle-wrapper .throttleborder {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: url("../img/stripes-rot.png");
  background-size: 50px;
  border: 1px solid #555;
}

.inputs .throttle-wrapper .throttleborder .throttle_circle_first {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 8px solid #111;
  border-radius: 50%;
  background: radial-gradient(circle, white 0%, white 61%, #eaeaea 68%, #d1d1d1 70%, #d1d1d1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.inputs .throttle-wrapper .throttleborder .throttle_circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b7b7b7;
  border-radius: 50%;
  background: radial-gradient(circle, white 0%, white 61%, #eaeaea 68%, #d1d1d1 70%, #d1d1d1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.inputs .throttle-wrapper .throttle-output {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  background: #000;
  border: 5px solid #9e9e9e;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'lcd', Monospaced, sans-serif;
  font-weight: 700;
  text-shadow: 0 0 2px green;
  color: #00b300;
}

.inputs .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inputs .slider .throttle-input {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 110px;
  -webkit-transform: translate(-50%, -60px) rotate(-90deg);
          transform: translate(-50%, -60px) rotate(-90deg);
  z-index: 5;
  background: transparent;
  color: transparent;
}

.inputs .slider .throttle-input:focus {
  background: transparent;
  color: transparent;
  outline: none;
}

.inputs .slider .throttle-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 80px;
  width: 30px;
  border: 2px solid #e9b759;
  background: radial-gradient(circle, #333 0%, #333 12%, transparent 13%, transparent 100%), radial-gradient(ellipse, wheat 0%, wheat 12%, #efca86 50%, #e9b759 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 15px 1px #333;
          box-shadow: 0 0 15px 1px #333;
  cursor: pointer;
}

.inputs .slider .throttle-input::-ms-thumb {
  height: 80px;
  width: 30px;
  border: 2px solid #e9b759;
  background: radial-gradient(circle, #333 0%, #333 12%, transparent 13%, transparent 100%), radial-gradient(ellipse, wheat 0%, wheat 12%, #efca86 50%, #e9b759 100%);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px #333;
  cursor: pointer;
}

.inputs .slider .throttle-input::-moz-range-thumb {
  height: 80px;
  width: 30px;
  border: 2px solid #e9b759;
  background: radial-gradient(circle, #333 0%, #333 12%, transparent 13%, transparent 100%), radial-gradient(ellipse, wheat 0%, wheat 12%, #efca86 50%, #e9b759 100%);
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0 0 15px 1px #333;
  cursor: pointer;
  transform: translateX(35px);
}

.inputs .buttons-wrapper {
  margin: 10px;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.inputs .buttons-wrapper .actions-wrapper {
  padding: 8px;
  width: 100%;
  border: 1px solid #555;
  border-radius: 5px;
  background-image: url("../img/stripes-rot.png");
  background-size: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputs .buttons-wrapper .actions-wrapper .btnBorder {
  background-color: #111;
  border-style: solid;
  border-color: #111;
  border-width: 2px;
  border-radius: 2px;
  width: 100%;
}

.inputs .buttons-wrapper .actions-wrapper .btnDetach {
  padding: 8px 4px;
  border-style: solid;
  border-color: #444;
  border-width: 0px 0px 3px 3px;
  width: 100%;
  font-family: 'barlowbold', ArialBold, sans-serif;
  -webkit-box-shadow: inset 0 0 5px 1px #333;
          box-shadow: inset 0 0 5px 1px #333;
  cursor: pointer;
  background-color: lightgray;
  -webkit-transition: 0.05s;
  transition: 0.05s;
}

.inputs .buttons-wrapper .actions-wrapper .btnDetach:hover {
  background-color: #ffffcc;
}

.inputs .buttons-wrapper .actions-wrapper .btnDetach:active {
  border-width: 3px 2px 0 1px;
  -webkit-box-shadow: inset 0 0 5px 2px #333;
          box-shadow: inset 0 0 5px 2px #333;
  background-color: #ff6666;
}

.inputs .buttons-wrapper .actions-wrapper .btnDetach:focus {
  outline: none;
}

.inputs .alarms-wrapper {
  width: 100%;
  height: auto;
}

.inputs .alarms-wrapper .alarms-border {
  margin: 10px 0 0 0;
  padding: 8px;
}

.inputs .alarms-wrapper .alarms-border .alarms-lights-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 3px solid #333;
  border-radius: 5px;
  background-color: #555;
  font-size: 0.8em;
  font-family: 'barlowbold', Arialbold, sans-serif;
  width: 100%;
}

.inputs .alarms-wrapper .alarms-border .alarms-lights-wrapper .alarm-light {
  width: 30%;
  margin: 2px;
  padding: 5px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #666;
  color: #222;
  -webkit-box-shadow: inset 0 0 5px 1px #333;
          box-shadow: inset 0 0 5px 1px #333;
  text-shadow: 0 0 5px #333;
  text-align: center;
}

.inputs .alarms-wrapper .alarms-border .alarms-lights-wrapper .alarm-active {
  background-color: #ff6666;
}

.inputs .console-wraper {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  background-color: #8d8e87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 0 0 3px 0 #fff;
          box-shadow: inset 0 0 3px 0 #fff;
}

.inputs .console-wraper .console_screen-wrapper {
  border-top: 5px solid #a6a6a2;
  border-right: 12px solid #d8d8d6;
  border-bottom: 5px solid #a6a6a2;
  border-left: 5px solid #595a55;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inputs .console-wraper .console_screen {
  font-family: 'techno', monospace;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  background-color: #020202;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: limegreen;
  text-shadow: 0 0 1px lightgreen;
  text-transform: uppercase;
  font-size: 0.8em;
  overflow: hidden;
  position: relative;
}

.inputs .console-wraper .console_text {
  position: absolute;
  bottom: 0;
  width: calc(100% - 10px);
  min-height: calc(100% - 10px);
  overflow: hidden;
  word-wrap: break-word;
}

.inputs .console-wraper .console_buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.inputs .console-wraper .console-button {
  border: 1px solid #555;
  border-radius: 5px;
  margin: 3px;
  padding: 8px;
  font-size: 1em;
  background-color: #111;
  font-family: 'barlowregular', Arial, sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #eaeaea;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px 1px #333;
          box-shadow: inset 0 0 2px 1px #333;
}

.inputs .console-wraper .console-button:hover {
  color: lightyellow;
  background-color: #222;
}

.inputs .console-wraper .console-button:active {
  padding: 9px 9px 7px 7px;
  background-color: #111;
  -webkit-box-shadow: inset 0 0 2px 1px #000;
          box-shadow: inset 0 0 2px 1px #000;
}

.inputs .console-wraper .console-button:focus {
  outline: none;
}

/*======================================================================
      VIEW STYLES
======================================================================*/
.view {
  position: relative;
  background-color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: hidden;
  background-image: url("../img/space.png");
  background-size: 200px;
}

.lander-wraper {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.lander {
  width: 95px;
  height: 70px;
  background-image: url("../img/eagle-img.png");
  background-size: contain;
  background-position: center center;
  position: absolute;
  bottom: -65px;
  z-index: 1;
}

.lander .eagle {
  width: 95px;
  height: 70px;
  background-image: url("../img/eagle-img.png");
  background-size: contain;
  background-position: center center;
  position: absolute;
  z-index: 5;
}

.lander .flame {
  width: 50px;
  height: 70px;
  background-image: url("../img/flame.png");
  background-size: cover;
  background-position: center center;
  position: absolute;
  bottom: -65px;
  left: 24px;
  z-index: -1;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.lander .csmodule {
  position: absolute;
  bottom: 67px;
  left: 1.1px;
  width: 95px;
  height: 150px;
  background-image: url("../img/comand-service-img.png");
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.moon-wrapper {
  height: 30vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.surface {
  width: 100%;
  height: 1000px;
  background-image: url("../img/moon.png");
  background-position: center 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.surface #shadow {
  content: '';
  display: block;
  width: 100px;
  height: 20px;
  position: absolute;
  top: 53px;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/*# sourceMappingURL=main.css.map */
